{% extends 'base.html.twig' %}

{% block title %}User Profile
{% endblock %}

{% block bread %}
	<span class="cursor-default">→</span>
	 <a class="hover:text-indigo-500" href="{{ path('app_profile', { user: user.id }) }}">User Profile</a>
{% endblock %}

{% block body %}
	{{ include('profile/_profile_headers.html.twig') }}

	{{ include('profile/_profile_tabs.html.twig') }}
	{% if app.request.get('_route') == 'app_profile' %}
	{{ include('micro_post/_post_list.html.twig', { posts: user.posts }) }}
	{% elseif app.request.get('_route') == 'app_profile_follows' %}
	{{ include('profile/_follows_list.html.twig', { users: user.follows }) }}
	{% else %}
	{{ include('profile/_followers_list.html.twig', {users: user.followers}) }}
	{% endif %}

{% endblock %}

